<ion-header  no-border>
  <ion-toolbar>
    <ion-title>
      SWEN Ren a Car.Com
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    
</ion-content>

<ion-footer>
    <h2>ติดต่อพนักงาน</h2>

    <div class="container">
      <img src="https://www.w3schools.com/w3images/bandmember.jpg" alt="Avatar" style="width:100%;">
      <p>มีรถให้เช่ามั้ยครับ</p>
      <span class="time-right">11:00</span>
    </div>
    
    <div class="container darker">
      <img src="https://www.w3schools.com/w3images/avatar_g2.jpg" alt="Avatar" class="right" style="width:100%;">
      <p>สามารถค้นหาได้เลยค่ะ</p>
      <span class="time-left">11:01</span>
    </div>
    
  </ion-footer>
