<ion-header>
  <ion-toolbar>
    <ion-title>ผลการค้นหา</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row class="a">
            <ion-col><img src="assets/5.jpg" alt=""></ion-col>
            <ion-col>
                <p>Bugatti Chiron</p>
                <p>2ที่นั่ง 2ประตู</p>
                <p><ion-icon name="md-snow"></ion-icon> แอร์คอนดิชั่น</p>
                <p><ion-icon name="md-cog"></ion-icon> อัตโนมัติ</p>
                <p><ion-icon name="ios-navigate"></ion-icon> Meet&Greet</p>
                <p><ion-icon name="ios-car"></ion-icon> ได้น้ำมันเต็มถังและกลับมาคืนเต็มถัง</p>
                <ion-button color="primary" (click)="detail()">ดูรายละเอียดเพิ่มเติม</ion-button>
            </ion-col>
        </ion-row>
        <ion-row class="a">
            <ion-col><img src="assets/1.jpg" alt=""></ion-col>
            <ion-col>
                <p>Honda city</p>
                <p>4ที่นั่ง 4ประตู</p>
                <p><ion-icon name="md-snow"></ion-icon> แอร์คอนดิชั่น</p>
                <p><ion-icon name="md-cog"></ion-icon> อัตโนมัติ</p>
                <p><ion-icon name="ios-navigate"></ion-icon> Meet&Greet</p>
                <p><ion-icon name="ios-car"></ion-icon> ได้น้ำมันเต็มถังและกลับมาคืนเต็มถัง</p>
                <ion-button color="primary">ดูรายละเอียดเพิ่มเติม</ion-button>
            </ion-col>
        </ion-row>
        <ion-row class="a">
            <ion-col><img src="assets/2.jpg" alt=""></ion-col>
            <ion-col>
                <p>Toyota Camry Hibrid</p>
                <p>4ที่นั่ง 4ประตู</p>
                <p><ion-icon name="md-snow"></ion-icon> แอร์คอนดิชั่น</p>
                <p><ion-icon name="md-cog"></ion-icon> อัตโนมัติ</p>
                <p><ion-icon name="ios-navigate"></ion-icon> Meet&Greet</p>
                <p><ion-icon name="ios-car"></ion-icon> ได้น้ำมันเต็มถังและกลับมาคืนเต็มถัง</p>
                <ion-button color="primary">ดูรายละเอียดเพิ่มเติม</ion-button>
            </ion-col>
        </ion-row>
        <ion-row class="a">
            <ion-col><img src="assets/3.jpg" alt=""></ion-col>
            <ion-col>
                <p>Ford Roptor</p>
                <p>4ที่นั่ง 4ประตู</p>
                <p><ion-icon name="md-snow"></ion-icon> แอร์คอนดิชั่น</p>
                <p><ion-icon name="md-cog"></ion-icon> อัตโนมัติ</p>
                <p><ion-icon name="ios-navigate"></ion-icon> Meet&Greet</p>
                <p><ion-icon name="ios-car"></ion-icon> ได้น้ำมันเต็มถังและกลับมาคืนเต็มถัง</p>
                <ion-button color="primary">ดูรายละเอียดเพิ่มเติม</ion-button>
            </ion-col>
        </ion-row>
        <ion-row class="a">
            <ion-col><img src="assets/4.jpg" alt=""></ion-col>
            <ion-col>
                <p>Toyota Fortuner</p>
                <p>7ที่นั่ง 5ประตู</p>
                <p><ion-icon name="md-snow"></ion-icon> แอร์คอนดิชั่น</p>
                <p><ion-icon name="md-cog"></ion-icon> อัตโนมัติ</p>
                <p><ion-icon name="ios-navigate"></ion-icon> Meet&Greet</p>
                <p><ion-icon name="ios-car"></ion-icon> ได้น้ำมันเต็มถังและกลับมาคืนเต็มถัง</p>
                <ion-button color="primary">ดูรายละเอียดเพิ่มเติม</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
