<ion-header  no-border>
  <ion-toolbar>
    <ion-title>
      ข้อมูลการจอง
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card (click)="detail()">
    <ion-card-header>
    </ion-card-header>

    <ion-card-content>
        <ion-row class="xxu">
          <ion-col>
              <img class="item-img" src="https://media.wired.com/photos/5b86fce8900cb57bbfd1e7ee/master/pass/Jaguar_I-PACE_S_Indus-Silver_065.jpg" alt="">
          </ion-col>
          <ion-col>
            <ion-row>
              <ion-col>
                <h1>15</h1>
                <p>อา. | สิงหาคม</p>
              </ion-col>
              <ion-col>
                <h1>17</h1>
                <p>ส. | สิงหาคม</p>
              </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <p>สมาบินเชียงใหม่</p>
                    <h1 class="price">THB 20000</h1>
                </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
