

:host {
    ion-toolbar{
        --background: #3880ff;
        color: #fff;
    }
  }
  .xxu{
    text-align: center;
    img{
      width: 100%;
    }
    .text-center{
      text-align: center;
    }
    .price{
      color: #3880ff;
    }
  }