<ion-header  no-border>
  <ion-toolbar>
    <ion-title>
      SWEN Ren a Car.Com
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
        <ion-icon name="card" slot="start"></ion-icon>
        <ion-label>การสั่งจองของฉัน</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="contact" slot="start"></ion-icon>
      <ion-label>รายละเอียดบัญชี</ion-label>
    </ion-item>
    <ion-item>
        <ion-icon name="log-out" slot="start"></ion-icon>
        <ion-label>ออกจากระบบ</ion-label>
      </ion-item>
  </ion-list>
</ion-content>
