<ion-header>
  <ion-toolbar>
    <ion-title>รายละเอียดรถ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <p>Bugatti Chiron</p>
    <ion-col><img src="assets/5.jpg" alt=""></ion-col>
    <ion-list>
        <ion-item>
          <ion-label>
            <p>รายละเอียดของรถ</p>
            <p>- 2ที่นั่ง</p>
            <p>- 2ประตู</p>
            <p>- แอร์คอนดิชั่น</p>
            <p>- อัตโนมัติ/Paddle shift</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <p>รวมอยู่ในค่าเช่า</p>
            <p>- แก้ไขการจองฟรี</p>
            <p>- ประกันผ่อนผันค่าเสียหาย</p>
            <p>- ประกันการโจรกรรม</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <p>ข้อมูลผู้จัดจำหน่าย</p>
            <p> เงื่อนไขเรื่องของน้ำมัน: ได้น้ำมันเต็มถังตอนรับรถและการมาคืนเต็มถัง</p>
            <p> รถเช้าได้เต็มน้ำมันเต็มถังเรียนร้อย</p>
          </ion-label>
        </ion-item>
    </ion-list>
  

</ion-content>
